@import "tailwindcss";
:root{
    --black2: hsl(45,5%,25%);
    --black: hsl(45,5%,10%);
    --white: hsl(45,29%,97%);
    --white2: hsl(45,10%,97%);
}

[data-theme="dark"] {
  background-color: var(--bg-color);
  color: var(--text-color);
  --bg-color: #1a1a1a;
  --text-color: white;
}
body {
  font-family: 'Lato', sans-serif; 
  cursor: none; 
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.custom-cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  z-index: 9999; 
}

@media (max-width: 768px) {
  body {
    cursor: auto; 
  }
  .custom-cursor {
    display: none;
  }
}


.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
